@media only screen and (min-width: 510px) {
  body {
    font-family: 'Lato', sans-serif;
    color:#ddf1bd;
  }
  
  /*Navigation bar*/
  #navbar-brand {
    color:#7bb026;
  }
  
  /*jumbotron*/
  #jumbotron{
    background-image: url('../images/seeds.jpg');
    background-position: center;
    background-size: cover;
    color:#7bb026;
  }
  
  #login-jumbo{
    text-align:center;
    background-color:rgba(102,51,0,0.8);
    width:40%;
    min-width:415px;
    padding:1em;
  }
  
  #jumbotron_home{
    background-image: url('../images/purple_flower.jpg');
    background-position: center;
    background-size: cover;
    color:#7bb026;
  }
  
  /*styling for the signup form */
  legend, label, input{
    font-size:1.125em;
  }
  
  form {
    min-width:510px;
    background-color:#7bb026;
    width:45%;
    margin:auto;
    border: 1px solid;
    padding: 10px;
    padding-top:20px;
    box-shadow: 5px 10px 8px #888888;
  }
  
  form:hover {
    box-shadow: 5px 10px 8px #5e5c5c;
  }
  
  h1{
    text-align: center;
  }
  
  input, label {
    display: block;
    width:60%;
    margin:auto;
  }
  
  label{
    margin-top:20px;
  }
  
  input[type='submit']{
    margin-top:20px;
    margin-bottom:20px;
    width:30%;
    padding:5px;
    border: 2px solid #9c0;
  }
  
  input[type='submit']:hover{
	background-color: #9c0;
  color:white;
	transition: all 0.5s ease-in-out;
	border: 2px solid #9c0;
  }
  
  input:focus{
    background-color: #c4e68d;
  }
  
  img {
    width:50px;
    vertical-align: middle;
    border-radius: 20%;
    opacity: .6;
  }
  
  .password_error{
    display:none;
  }
  
  #password_error{
    color:yellow;
    font-size:1.125em;
    text-align:center;
    background-color:#ed3b3b;
    padding:10px;
    width:40%;
    margin:auto;
  }
  
  
  
}

@media only screen and (max-width: 520px) {
  
    body {
    font-family: 'Lato', sans-serif;
    color:#ddf1bd;
  }
  
  /*styling for the signup form */
  legend, label, input{
    font-size:1.125em;
  }
  
  #navbar-brand {
    color:#7bb026;
  }
  
  #jumbotron{
    background-image: url('../images/seeds.jpg');
    background-position: center;
    background-size: cover;
    color:#7bb026;
  }
  
  #jumbotron_home{
    background-image: url('../images/purple_flower.jpg');
    background-position: center;
    background-size: cover;
    color:#7bb026;
  }
  
  #login-jumbo{
    text-align:center;
    background-color:rgba(102,51,0,0.8);
    width:90%;
    min-width:300px;
    padding:1em;
  }
  
  form {
    background-color:#7bb026;
    width: 100%;
    margin:auto;
    padding: 0.625em;

  }
  
  h1{
    text-align: center;
    font-size:1.5em;
  }
  
  input, label {
    display: block;
    width:90%;
    margin:auto;
  }
  
  label{
    margin-top:1.125em;
  }
  
  input[type='submit']{
    margin-top:1.25em;
    margin-bottom:1.25em;
    width:60%;
    padding:0.3125em;
    border: 2px solid #9c0;
  }
  
  
  img {
    width:50px;
    vertical-align: middle;
    border-radius: 20%;
    opacity: .6;
  }
  
    .password_error{
    display:none;
  }
  
  #password_error{
    color:black;
    font-size:1.125em;
    text-align:center;
    background-color:#ed3b3b;
    padding:10px;
    width:40%;
    margin:auto;
  }
  
}
